<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="{{.BaseURI}}/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reports Dashboard</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">-->
    <link rel="stylesheet" href="bulma.min.css">
    <style>
        html,
        body {
            height: 100%;
        }
        
        .section,
        .container {
            min-height: calc(100% - 70px - 165px);
            height: auto !important;
        }
        
        .navbar-item img {
            max-height: 3rem;
        }
        
        .section,
        .container,
        iframe {
            height: 100%;
            width: 100%;
        }
        
        .links path {
            fill: none;
            stroke: #666;
            stroke-width: 1.5px;
        }
        
        .nodes circle {
            /* fill: #ccc; */
            stroke: #fff;
            stroke-width: 1.5px;
        }
        
        .nodes circle:hover {
            opacity: .8;
            cursor: pointer;
        }
        
        .nodes text {
            fill: #000;
            font: 12px sans-serif;
            pointer-events: none;
        }
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="aes256.js"></script>
    <script>
        /* function setCookie(name, value, days) {
                    window.localStorage.setItem
                    var expires = "";
                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        expires = "; expires=" + date.toUTCString();
                    }
                    document.cookie = name + "=" + (value || "") + expires + "; path=/";
                }

                function getCookie(name) {
                    var nameEQ = name + "=";
                    var ca = document.cookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                    }
                    return null;
                }

                function deleteCookie(name) {
                    document.cookie = name + '=; Max-Age=-99999999;';
                } */

        function output(response) {
            pass = null;
            if (window.localStorage.getItem("PASSWORD") && window.localStorage.getItem("PASSWORD").length > 0)
                pass = window.localStorage.getItem("PASSWORD")
                //if (getCookie("PASSWORD") && getCookie("PASSWORD").length > 0)
                //pass = getCookie("PASSWORD");
            else {
                pass = prompt("Password");
                window.localStorage.setItem("PASSWORD", pass)
                    //setCookie("PASSWORD", pass);
            }
            dec = "";
            try {
                dec = AES256.decrypt(response, pass)
            } catch (err) {
                window.localStorage.setItem("PASSWORD", "")
                    //setCookie("PASSWORD", "");
            }
            if (dec.length == 0 && response.length > 32) {
                window.localStorage.setItem("PASSWORD", "")
                    //setCookie("PASSWORD", "");
                output(response);
            }
            return dec
        };

        let send = XMLHttpRequest.prototype.send;
        XMLHttpRequest.prototype.send = function() {
            this.addEventListener('readystatechange', function(event) {

                if (this.readyState === 4) {
                    if (this.response.startsWith("ENCRYPTED") || this.responseText.startsWith("ENCRYPTED")) {
                        var resp = null;
                        if (typeof this.responseText === typeof undefined) {
                            resp = output(this.response.substr("ENCRYPTED".length));
                            Object.defineProperty(this, 'response', {
                                writable: true
                            });
                            this.response = resp;
                            Object.defineProperty(this, 'response', {
                                writable: false
                            });
                        } else {
                            resp = output(this.responseText.substr("ENCRYPTED".length));
                            Object.defineProperty(this, 'responseText', {
                                writable: true
                            });
                            this.responseText = resp;
                            Object.defineProperty(this, 'responseText', {
                                writable: false
                            });
                        }
                    }
                }
            }, false);
            send.apply(this, arguments);
        };
    </script>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img style="width: auto" src="icon.png" width="112" height="28">
            </a>

            <div role="button" id="navbarBurger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>

        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">

                {{ range $item := .MenuItems}} {{ if not $item.Children }}
                <a class="navbar-item" href="{{$item.Target}}">
          {{ $item.Title }}
        </a> {{ else }}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
            {{ $item.Title }}
          </a>

                    <div class="navbar-dropdown">
                        {{ range $k := $item.Children }}
                        <a class="navbar-item" href="{{$k.Target}}">
              {{ $k.Title }}
            </a> {{ end }}
                    </div>
                </div>

                {{ end }} {{ end }}

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary repo" href="{{.RepoURI}}">
                            <span class="icon is-large">
                <i class="fab fa-gitlab"></i>
              </span>
                            <span>GitLab</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {{.Content}}
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            var navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if (navbarBurgers.length > 0) {

                // Add a click event on each of them
                navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const tgt = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        tgt.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>GitLab Reports Dashboard</strong> by <a href="https://arivum.de">Arivum</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
        </div>
    </footer>
</body>

</html>