<iframe id="covIframe" style="height: 750px"></iframe>
<script>
$.get( "reports/go-coverage.html", function( data ) {
    document.getElementById('covIframe').src = "data:text/html;charset=utf-8," + escape(data);
});
/* 
var resizeIframe = function() { 
    document.getElementById('covIframe').style = "height:" + (document.getElementById('covIframe').contentWindow.document.body.scrollHeight + 30) + "px";
};
    
window.addEventListener('click', resizeIframe);
window.addEventListener('scroll', resizeIframe);
window.addEventListener('resize', resizeIframe); */
</script>